<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JavaWebExp3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>userlogin.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/servlet/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/servlet/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/servlet/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usermain</servlet-name>
    <servlet-class>controller.UserMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usermain</servlet-name>
    <url-pattern>/servlet/usermain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>submitanswer</servlet-name>
    <servlet-class>controller.SubmitAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitanswer</servlet-name>
    <url-pattern>/servlet/submitanswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/servlet/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminmain</servlet-name>
    <servlet-class>controller.AdminMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminmain</servlet-name>
    <url-pattern>/servlet/adminmain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminpaperview</servlet-name>
    <servlet-class>controller.AdminPaperViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminpaperview</servlet-name>
    <url-pattern>/servlet/adminpaperview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editor</servlet-name>
    <servlet-class>controller.Editor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editor</servlet-name>
    <url-pattern>/servlet/editor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>create</servlet-name>
    <servlet-class>controller.CreatePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/servlet/create</url-pattern>
  </servlet-mapping>
</web-app>